# Default
*                           @akshatidk29

/mlblueprint/core/          @akshatidk29

/docs/                      @akshatidk29
/.github/                   @akshatidk29
/pyproject.toml             @akshatidk29

/mlblueprint/tree/         @akshatidk29
/mlblueprint/cluster/      @akshatidk29
/apps/visualiser/          @akshatidk29
